@using Identity.Models.AccountModels
@using Identity.Services
@model LoginModel
@inject ILoginService LoginService

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="h1">@ViewData["Title"]</div>

    <div class="row">
        <div class="col-sm">
            <div class="card border-success mb-3">
                <div class="card-header">Service Login</div>
                <div class="card-body">
                    @{
                        var loginProviders = (await LoginService.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <p>
                                There are no external authentication services configured.
                            </p>
                        }
                        else
                        {
                            <p>
                                Login with your favourite social media service,
                                you will need to give basic access permissions the first tine you use this.
                            </p>
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <p class="mb-0">
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                                <input type="hidden" class="publicKey" asp-for="PublicKey"></input> 
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-warning mb-3">
                <div class="card-header">OTP Login</div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="OtpLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="Email" class="col-md-3 form-control-label">Email</label>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control" value="test@test.local" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Otp" class="col-md-3 form-control-label">OTP Code</label>
                            <div class="col-md-9">
                                <input asp-for="Otp" class="form-control" value="test-code" />
                                <span asp-validation-for="Otp" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-9">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-10">
                                <button type="submit" class="btn btn-secondary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card border-warning mb-3">
                <div class="card-header">Signed Access Login</div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="CounterSignedAccessKeyLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="CounterSignedAccessKey" class="col-md-3 form-control-label">Counter Signed Access Key</label>
                            <div class="col-md-9">
                                <textarea rows="6" asp-for="CounterSignedAccessKey" class="form-control" value="test@test.local"></textarea>
                                <span asp-validation-for="CounterSignedAccessKey" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-9">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-10">
                                <button type="submit" class="btn btn-secondary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
